# Virtual environments
.venv312/

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
